.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.css-gadse4-MuiPaper-root-MuiGrid-root {
  background-color: #99ffdf;
}
.css-dphtc1-MuiGrid-root {
  background-image: url(../src/assets/images/splashscreen.png);
}
.errorMessage {
  color: grey;
}

.createTitle{
  text-align: right;
  font-size: 15px;
  background-color:  rgb(189, 228, 250);
  padding: 10px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 0;

}
.journalBody{
  background-color: rgb(237, 237, 237);
  padding: 20px;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

button{
  background-color: rgb(6, 198, 6);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img{
  width: 100%;
}